{% block html_head_container %}
  {% include 'html_header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}
  <body data-template="base.twig">
    {% block content %}
      Sorry, no content
    {% endblock %}
    {% block footer %}
      {{ function('wp_footer') }}
    {% endblock %}
  </body>
</html>