<footer>
  <div class="footer-content">
    <p><img src="{{site.theme.link}}/logo.svg" alt="Avalon Exchange" width="90px"></p>
    <p>&copy; 2014 Avalon Exchange. All Rights Reserved.</p>
    <p>Homepage collage by <a href="http://eugenialoli.tumblr.com/">Eugenia Loli</a>.</p>
  </div>
</footer>