{% extends "base.twig" %}

{% block content %}
  <div class="home-hero">
    <div class="carousel">
      <div><img src="{{TimberImage(page.get_field('main_image')).src}}" /></div>
    </div>
    <div class="headline">
      <h1>{{site.description}}</h1>
    </div>
  </div>
  <div class="home-locations">
    <div class="section">
      <h2>Store Name</h2>
      <p>Store Address</p>
      <p>
        <a href="https://www.google.com/maps/place/5858+Forbes+Ave,+Pittsburgh,+PA+15217/" class="btn"><i class="fa fa-fw fa-map-marker" title="Map"></i> Map</a>
        <a href="http://www.instagram.com/avalonexchange" class="btn"><i class="fa fa-fw fa-instagram" title="Instagram"></i> Instagram</a>
      </p>
    </div>
  </div>

{% endblock %}