{% extends "base.twig" %}

{% block content %}

  <div class="home-hero">
    <div class="carousel">
      {% set images = page.get_field('homepage_images') %}
      {% set firstimage = images|first %}
      <div><img src="{{TimberImage(firstimage.image).src}}" alt=""></div>
      {% for item in images|slice(1) %}
        <div><img data-lazy="{{TimberImage(item.image).src}}" /></div>
      {% endfor %}
    </div>
    <div class="headline">
      <h1>{{site.description}}</h1>
    </div>
  </div>
  <div class="home-locations">
    <div class="section">
      <h2>Store Name</h2>
      <p>Store Address</p>
      <p>
        <a href="https://www.google.com/maps/place/5858+Forbes+Ave,+Pittsburgh,+PA+15217/" class="btn"><i class="fa fa-fw fa-map-marker" title="Map"></i> Map</a>
        <a href="http://www.instagram.com/avalonexchange" class="btn"><i class="fa fa-fw fa-instagram" title="Instagram"></i> Instagram</a>
      </p>
    </div>
  </div>

{% endblock %}