{% extends "base.twig" %}

{% block content %}

  <div class="page-header">
    <div class="headline">
      <h1>{{page.title}}</h1>
    </div>
  </div>

  <div class="container">
    <article>
      <p>{{page.get_content}}</p>
    </article>
  </div>

{% endblock %}