<header role="banner" class="home-header">
  <ul class="nav" role="navigation">
    <li class="home"><a href="#"><i class="fa fa-2x fa-refresh"></i></a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Sell</a></li>
    <li><a href="#">Locations</a></li>
    <li><a href="#">News</a></li>
  </ul>
  <a href="#" class="btn btn-menu"><i class="fa fa-bars"></i> Menu</a>
</header>